#!/bin/bash

# This hook is called with "ac" or "battery" when the power source changes.
# To put it into use, remove .sample from this file name.

# Example: Show the newly active power source.
# omarchy-notification-send -u low "Power source" "Now using $1 power"
