[Desktop Entry]
Version=1.0
Name=Google Messages
Exec=omarchy-launch-webapp https://messages.google.com/web/conversations
Terminal=false
Type=Application
Icon=google-messages
StartupWMClass=chrome-messages.google.com__web_conversations-Default
StartupNotify=true
