[Desktop Entry]
Version=1.0
Name=HEY
Exec=omarchy-webapp-handler-hey %u
Terminal=false
Type=Application
Icon=hey
StartupWMClass=chrome-app.hey.com__-Default
StartupNotify=true
MimeType=x-scheme-handler/mailto
