[Desktop Entry]
Version=1.0
Name=Messenger
Exec=omarchy-launch-webapp https://www.facebook.com/messages
Terminal=false
Type=Application
Icon=messenger
StartupNotify=true
